<app-header></app-header>
<br><br><br><br>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form (ngSubmit)="onSubmit()">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" name="name" [(ngModel)]="Seekerreg.name" required />
            <input type="email" placeholder="Email" name="email" [(ngModel)]="Seekerreg.email" required/>
            <input type="number" placeholder="PhoneNo" name="phone" [(ngModel)]="Seekerreg.phone" required/>
            <input type="password" placeholder="Password" name="pass" id="password" [(ngModel)]="Seekerreg.pass" required>
            <input type="password" placeholder="Confirm Password" name="confirm_pass" id="confirm_password" [(ngModel)]="Seekerreg.confirm_pass" required>

            <button>Sign Up</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p style="color: black;">Already have an account? Then start your journey with us by logging in</p>
                <button class="ghost" id="signUp">Sign in</button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<app-footer></app-footer>