<app-hire-merge></app-hire-merge>
<br>
<div class="container">
    <form>
        <h1 style="color:black;">UPDATE JOB DESCRIPTION</h1>
        <div class="col">


            <div class="com">
                <label> Job Sector <span>*</span></label><br>
                <input type="text" placeholder="type here" name="Sector" id="Sector" size="100" height="500" required><br>
            </div>

            <div class="com">
                <label> CTC <span>*</span></label><br>
                <input type="text" placeholder="type here" name="CTC" id="CTC" size="100" required><br>
            </div>

            <div class="com">
                <label> Experience Required <span>*</span></label><br>
                <input type="text" placeholder="type here" name="Experience" id="Experience" size="100" required><br>
            </div>

            <div class="com">
                <label> Job Location<span>*</span> </label><br>
                <input type="text" placeholder="type here" name="Location" id="Location" size="100" required><br>
            </div>

            <div class="com">
                <label> Educational Qualification <span>*</span></label><br>
                <input type="text" placeholder="type here" name="Stream" id="Stream" size="100" required><br>
            </div>

            <div class="com">
                <label> Bond(If any)<span>*</span></label><br>
                <input type="text" placeholder="type here" name="Bond" id="Bond" size="100" required><br>
            </div>


            <div class="com">
                <label> Working Hours<span>*</span> </label><br>
                <input type="text" placeholder="type here" name="Working Hours" id="Working Hours" size="100" required><br>
            </div>
            <div class="com">
                <label> Job Type<span>*</span>
            <br>
   <input type="radio" name="Job Type" id="Part Time">Part Time
    <input type="radio" name="Job Type" id="Full Time">Full Time </label><br>
            </div>
        </div>

        <div class="submit">
            <button type="submit" value="SUBMIT">SUBMIT</button>
        </div>

    </form>
</div>