<div class="testbox">

    <form action="/">

        <div class="container">

            <div class="banner">

                <h3>TERMS AND CONDITIONS</h3>

            </div>

            Please read through the terms and conditions

            <div class="tc">

                1. All information provided by you is true to your knowledge.

                <br> 2. The details provided here will be accessible by and not restricted to us, our partnered companies and necessary service providers.

                <br> 3. You represent that you are above the age of 18. We do not permit those under 18 to use the service.

                <br> 4. If you have any concern or dispute about the service, you agree to first try to resolve the dispute informally by contacting us.

                <br> 5. We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms and Conditions.

            </div>





            <div class="pic"><br>

                <br><label for="picture"> Upload your passport size photo<span>*</span></label>

                <input type="file" id="picture" name="picture" accept="image/png,image/jpeg,image/jpg">

            </div>



            <div id="signature-pad"><br>

                <label for="signature">Upload your signature<span>*</span></label>



                <br><br>

                <input type="text" style="border:1px solid #000" id="sign" width="400" height="200">

            </div>

        </div>



        <div class="clear-btn">

            <button id="clear">CLEAR</button>

            <button class="upload-btn" id="upload">UPLOAD</button>

        </div>

        <br><br>

        <div class="tacbox">

            <input id="checkbox" type="checkbox" />

            <label for="checkbox"> I agree to these Terms and Conditions.</label>

        </div>

        <div class="finish-button">

            <button id="finish" (click)="jobs()">FINISH</button>

        </div>

    </form>

</div>