@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: auto;
}

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 0.1vh;
    /* background: #000; */
}

.black {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 10%;
    z-index: 1000;
    background: #fff;
    justify-content: space-around;
    transition: 1.5s;
    align-items: center;
    background-color: rgb(46, 46, 46);
    border-radius: 2px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 5px 5px;
}

nav ul li a {
    padding: 2px 15px;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    margin-left: 20px;
    padding-left: 10px;
}

nav ul li a:hover {
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to right, blue, #DF2771);
}

.profile {
    margin-right: -90px;
}

.profile button {
    position: relative;
    padding: 4px 15px;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 10px;
    color: white;
}

.profile button:hover {
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to right, blue, #DF2771);
}

.active {
    color: #fff;
    border-radius: 5px;
    background: blue;
}

.logo img {
    width: 120px;
    cursor: pointer;
    position: fixed;
    margin-left: -100px;
    margin-top: -5mm;
    display: inline;
}

a,
button {
    float: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #2E3D49;
    display: block;
    text-decoration: none;
}

.content {
    margin-left: 150px;
}