<header class="header" id="header">
    <nav>
        <div class="logo"><img src="assets/images/icon/JAAMLOGO.png" alt="logo"></div>
        <div class="content">
            <ul>
                <li><a href=" " ngClass="btn">Home</a></li>
                <li><a href="#portfolio_section">Portfolio</a></li>
                <li><a href="#team_section">Team</a></li>
                <li><a href="#services_section">Services</a></li>
                <li><a href="#contactus_section">Contact</a></li>
                <div class="profile">

                    <li>


                        <button (click)="profile()"><strong>Profile</strong></button>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="" width="42" height="42" class="rounded-circle me-2">

                    </li>
                </div>
            </ul>
        </div>
    </nav>
</header>