<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="assets/images/icon/logo.png" style="width: 200px;">
            <div class="logo"></div>
            <div class="social-media">
                <a href="#"><img src="assets/images/icon\fb.png"></a>
                <a href="#"><img src="assets/images/icon\insta.png"></a>
                <a href="#"><img src="assets/images/icon\tt.png"></a>
                <a href="#"><img src="assets/images/icon\ytube.png"></a>
                <a href="#"><img src="assets/images/icon\linkedin.png"></a>
            </div><br><br>
            <p class="rights-text">Copyright © 2022 All rights reserved </p>
            <p class="right-text">Created By Mouneeshwaran,Jhon,Akshaya,Abitha </p>
        </div>
        <div class="right-col">

            <p><img src="assets/images/icon/location.png"> Prodapt<br>Guindy,Chennai,600044</p><br>
            <p><img src="assets/images/icon/phone.png"> +91-8903985371<br><img src="assets/images/icon/mail.png">&nbsp; jaamjobs@gmail.com
            </p>
        </div>
    </div>
</footer>