/* QUOTES */

.containerforquotes {
    margin: px 0 28px;
    padding: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000;
    height: 250px;
}

h1 {
    font-weight: 5000;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.scroll {
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
}

.arrow-down {
    width: 60px;
    height: 40px;
    margin: 0 0 0 -30px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
    animation-play-state: paused;
}

.left {
    position: absolute;
    height: 10px;
    width: 40px;
    background: black;
    transform: rotate(240deg);
    top: 10px;
    left: 10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 10px;
    width: 40px;
    background: black;
    transform: rotate(-60deg);
    top: 10px;
    left: 10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@keyframes arrow {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 40px;
    }
}

@keyframes leftArrow {
    0% {}
    100% {
        -webkit-transform: rotate(225deg);
    }
}

@keyframes rightArrow {
    0% {}
    100% {
        -webkit-transform: rotate(-45deg);
    }
}


/* SEARCH-BAR */

#search {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

#search-bar {
    background-image: linear-gradient(to right top, #0D4C92, #CFF5E7);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee;
}

 ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: rgb(0, 174, 255);
    color: #fff;
    width: 90px;
    border-radius: 4px
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee;
    }
    .search-2 i {
        left: 4px
    }
    .search-2 input {
        padding-left: 34px
    }
    .search-2 button {
        height: 37px;
        top: 5px
    }
}

.search-sec {
    background: white;
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px);
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px);
    border-radius: 0;
    color: white;
    background: rgb(41, 41, 250);
}

.wrn-btn:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, blue, #DF2771);
}

a:hover {
    color: #ffffff;
    background: #fff;
    background: linear-gradient(to right, blue, #DF2771);
}

button:hover {
    color: #ffffff;
    background: #fff;
    background: linear-gradient(to right, blue, #DF2771);
}


/* companiescard */

#container-card {
    margin-top: 5%;
}

h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    color: #1b2437;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.card-show {
    margin-bottom: 50px;
}


/* joblist */

#jobs {
    margin-top: 5%;
}

.job-list {
    margin: 5%;
    padding: 1rem;
    background-color: rgb(83, 83, 231);
}

.job-card {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem;
    min-height: 100px;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.job-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.job-name {
    display: flex;
}

.job-profile {
    width: 60px;
    height: 60px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.job-detail {
    padding: 0 8px;
    border-radius: 20px;
}

.job-detail>h4 {
    color: blue;
    font-size: 1.5rem;
}

.job-detail>h3 {
    text-align: left;
}

.job-detail>p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: -25px;
}

.job-label {
    display: flex;
    flex-wrap: wrap;
}

#an1 {
    margin-left: 430px;
}

#an2 {
    margin-left: 350px;
}

#an3 {
    margin-left: 410px;
}

#an4 {
    margin-left: 370px;
}

.job-label>a {
    padding: 0 1rem;
    margin: 0.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8rem;
}

.label-a {
    background-color: yellow;
}

.label-b {
    background-color: blue;
}

.label-c {
    background-color: #1b2437;
}

.job-posted {
    font-size: 1rem;
}

.location {
    margin-left: 30px;
}

#more-list {
    margin-left: 45%;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.morejobs {
    background-color: #fff;
}

.animation {
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {
        left: -10px;
        top: 0px;
    }
    100% {
        left: 40px;
        top: 0px;
    }
}

button {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: white;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:hover {
    color: #ffffff;
    background: linear-gradient(to right, blue, #DF2771);
}